* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 70vh;
    border: 1px black solid;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 15px;
    background-color: rgb(228, 225, 225);
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: smaller;
}

button, input {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px; 
}

button {
   margin-bottom: 5px;
}

input, #todos {
    width: 70%;
}

.newTodo {
    display: flex;
    justify-content: space-between;
    width: 19em;
    padding: 5px;
    border-radius: 5px;
}

.newTodo:hover {
    background-color: #f0ffff;
    align-items: center;
}

.deleteTodo {
    color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.deleteTodo:hover {
    background-color: gainsboro;
    font-weight: bold;
}

/* !! Fix the responsiveness of the app !! */